@page "/message/example1"
@inject IJSRuntime  js
@inject ILogMessage  logui

@using BasicConcepts.Client.HelperJS

<h1>Message</h1>

<button @onclick="ShowMessageLogUI">Mensajes Log UI</button>
<button @onclick="Confirmar">Confirmar</button>
@{
  async Task ShowMessageLogUI()
  {
    await logui.Success("success!");
    await Task.Delay(500);
    await logui.Info("info");
    await Task.Delay(500);
    await logui.Warning("warning");
    await Task.Delay(500);
    await logui.Error("error");
    // await js.InvokeVoidAsync(,);
  }

  async Task Confirmar()
  {
    var confirmo = await js.Confirm("Realmente desea eliminarlo?");
    if (confirmo)
    {
      await logui.Success("Confirmado!");
    }
    else
    {
      await logui.Warning("Cancelado");
    }
  }
}