@page "/"
@inject IJSRuntime  js
@inject ILogMessage  logui

<h1>Ejemplos básicos</h1>

<button @onclick="ShowMessageLogUI">Mensajes Log UI</button>

@{
  async Task ShowMessageLogUI()
  {
    await logui.Success("success!");
    await Task.Delay(500);
    await logui.Info("info");
    await Task.Delay(500);
    await logui.Warning("warning");
    await Task.Delay(500);
    await logui.Error("error");
    // await js.InvokeVoidAsync(,);
  }
}