<h3>in child</h3>

<input @bind-value="Title" @bind-value:event="oninput" />

@code {
  private string _TitleFromParent;
  [Parameter]
  public string TitleFromParent
  {
    get
    {
      return _TitleFromParent;
    }
    set
    {
      if (_TitleFromParent != value)
      {
        _TitleFromParent = value;
        _Title = value;
      }
    }
  }

  private string _Title;
  public string Title
  {
    get
    {
      return _Title;
    }
    set
    {
      if (_Title != value)
      {
        _Title = value;
        TitleChanged.InvokeAsync(value);
      }
    }
  }

  [Parameter]
  public EventCallback<string> TitleChanged { get; set; }
}
