<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BasicControls</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="databinding/a">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data Binding A
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="databinding/b">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data Binding B
            </NavLink>
        </li>
        <li class="nav-item-header px-3">
            <span class="text-muted">CONFIGURACION</span>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="combo-enum">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Combo Enum
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="combo-model">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Combo Model
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="combo-cascade">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Combo Cascade
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="graphics/bar-1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Graphics Bar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="componentes/panel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Panel
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dynamicstyle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Estilos dinámicos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dynamicstyle2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Estilos dinámicos2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/listas/ejemploA">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listas A
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/listas/ejemploB">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listas B
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/listas/ejemploC">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listas C
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/message/example1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mensajes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/preventdefault/example1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Prevent Default
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/buttonDisplay">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Button Display
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/invoice/a">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Invoice A
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/template/a">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Template A
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
